.app-header {
    align-items: flex-end;
}

.app-header h1 {
    flex-grow: 1;
    color: #17A2B8;
    font-family: 'Rouge Script', cursive;
    font-size: 60px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}
